@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

html {
  font-family: "Lato", sans-serif;
}

/*HEADER SECTION*/

.change-black {
  @apply shadow-xl text-black p-1 ;
}

.change-white {
  @apply shadow-xl text-white p-1;
}

.list{
@apply cursor-pointer flex items-center gap-3 md:text-lg
}

/*HEADER SECTION*/

/*CHART CARD */

.card{
@apply rounded-xl shadow-lg max-w-sm px-5 hover:shadow-2xl
}

.chart-icon{
@apply h-20 w-20 text-green-primary mx-auto
}

.card-title{
@apply text-xl font-semibold tracking-tight text-center text-green-primary my-3
}

.card-text{
@apply mb-2 text-center leading-normal
}

/*CHART CARD */

/*HOW SECTION*/
 
 .how-title{
 @apply text-gray-700 font-semibold mb-3 mt-10 text-lg lg:text-xl
 }
 
 .how-text{
 @apply text-gray-600 lg:text-lg
 }

/*HOW SECTION*/

/*CHART PAGES*/

.chart-section{
@apply   h-max px-10 py-10
}

.container{
@apply flex flex-col gap-10 md:gap-16 md:mx-auto  
}

.chart-title{
@apply font-bold text-center text-lg md:text-2xl lg:text-3xl
}

.chart-container{
@apply bg-white rounded-xl p-3 md:w-9/12 md:mx-auto w-max
}

.chart-source{
@apply mt-5 text-gray-600 text-xs
}

/*CHART PAGES*/

